<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ftest">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ftest">
        <activity
            android:name=".recyclerviews.LewandowskiActivity"
            android:exported="true" />
        <activity
            android:name=".recyclerviews.MbappeActivity"
            android:exported="true" />
        <activity
            android:name=".recyclerviews.NeymarActivity"
            android:exported="true" />
        <activity
            android:name=".recyclerviews.RonaldoActivity"
            android:exported="true" />
        <activity
            android:name=".recyclerviews.MessiActivity"
            android:exported="true" />
        <activity
            android:name=".ChangePassActivity"
            android:exported="true" />
        <activity
            android:name=".fragments.ChangePfpActivity"
            android:exported="true" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".ForgotPassActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>